<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='/css/error404.css')}}">
    <title>{{error.code }}</title>
</head>

<body>
    <h1>{{ results['solicitud'] }}</h1>
    <h1>{{ results['error2'] }} {{ error.code }}</h1>
    <p class="zoom-area">{{ error.description }}</p>
    <section class="error-container">
        <span>{{ error.code }}</span>
    </section>

    <div class="link-container">
        <a href="{{ url_for('login') }}">
            {{ results['regresar'] }}
        </a>
    </div>
</body>

</html>